DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=password_mysql_anda
DB_NAME=db_wa_blast

JWT_SECRET=isi_random_minimal_32_karakter

SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=superadmin123

LICENSE_KEY=lisensi_member
LICENSE_API_SECRET=secret_lisensi_member
